<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SvelteTest2</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/svelteapp/public/build/bundle.css">
        <script defer src="~/svelteapp/build/bundle.js"></script>
    </head>

    <body>
        <nav>
            <a asp-area="" asp-page="/Index">Home</a>
            <a asp-area="" asp-page="/Privacy">Privacy</a>
        </nav>

        <main role="main">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - SvelteTest2 - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/svelteapp/src/main.js"></script>
        <script src="~/svelteapp/public/build/bundle.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>